span.my-html-tag {
    background-color: #f0f0f0;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
}

pre.my-code {
    overflow: auto;
    resize: horizontal;
}

li.L0 li.L1 li.L2 li.L3 
li.L4 li.L5 li.L6 li.L7 li.L8 {
    list-style-type: decimal !important;
} 